@{
    ViewBag.Title = "ورود";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
}

<section class="login-container">
    <h2>ورود کاربر</h2>
    <form asp-controller="Home" asp-action="Login" method="post">
        <input type="text" name="username" placeholder="نام کاربری" required />
        <input type="password" name="password" placeholder="رمز عبور" required />
        <button type="submit">ورود</button>
    </form>
    @if (ViewBag.Error != null)
    {
        <p class="error">@ViewBag.Error</p>
        <button onclick="location.href='@Url.Action("Register", "Home")'">ثبت‌ نام</button>
    }
</section>