/* wwwroot/css/site.css */
@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');

body {
    margin: 0;
    font-family: 'Vazir', sans-serif;
}


/* تنظیمات Header : ارتفاع 20% از صفحه */
header {
    background: #007BFF;
    color: #fff;
    text-align: center;
    height: 20vh; /* 20% از ارتفاع viewport */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* سبک دهی به محتوا (این بخش تمام محتوای رندر شده از ویوها را در بر می‌گیرد) */
.main-content {
    padding: 20px;
}